.recommendation-container {
  min-height: 98%;
  padding: 15px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.recommendation-container > h4 {
  margin-bottom: 20px;
}
.charts-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  min-height: 400px;
}

.MuiPieArc-highlighted {
  transform: scale(1.1);
  transition: transform 0.4s ease;
}
